body{
    background: radial-gradient(rgb(180, 115, 173),rgb(34, 64, 93));
}
h1{
    color:rgb(33, 32, 31)
}
.col p {
    color:aliceblue;
    font-size: 1.3em;
    font-style:italic;
}
.intro {
    color:aliceblue;
    font-size: 1.2em;
}
.style {
    color: rgb(192, 146, 187);
    font-size: 1.3em;
}
#btnStart, #btnEnd {
    background-color: rgb(43, 80, 115);
    color:aliceblue;
}
#btnStart:hover {
    background-color: rgb(70, 95, 123);
}
img {
position: absolute;
}
#leftSide {
position: absolute;
width: 500px;
height: 500px;
margin-left: 30px;
border: groove 5px rgb(59, 59, 75)
}
#rightSide {
position: absolute;
width: 500px;
height: 500px;
left: 550px; 
padding: 0;
border: groove 5px rgb(59, 59, 75)
}
 .scoreHint{
   position:absolute; 
    left: 1150px; 
} 
#scorePanel {
    width: 200px;
    height: 220px;
    border: groove 5px rgb(59, 59, 75)  
}
#scorePanel p {
    font-size: 2em;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 10px;
}
#score {
    height: 100px;
    font-size: 3em;
    font-weight: bold;
    color:aliceblue;
}
.hint {
    width: 200px;
}
